```
Input:
    Enter your age: 20
Output:
    Entered age is 20 and exceeding for 2 years

Input:
    Enter your age: 16
Output:
    Entered age is 16 and need to wait for 2 years for vote
```

In [2]:
a = int(input("Enter your age: "))
if a>=18:
    print(f"Entered age is {a} and exceeding for {a-18} years")
else:
    print(f"Entered age is {a} and need to wait for {18-a} years for vote")

Enter your age:  10

Entered age is 10 and need to wait for 8 years for vote

```
Input-1:
-------
    45
    89.45
Output-1:
--------
    Entered numbers are: 45,89.45
    Entered first number is 45 it is Odd number
    Entered second number is 89.45 and it is Odd number
```

In [7]:
a=int(input())
b=float(input())
print(f"Entered Numbers are:{a},{b}")

if(a%2==0):
    print(f"Entered First Number is {a} it is Even")
else:
    print(f"Entered First Number is {a} it is odd")
if(int(b)%2==0):
    print(f"Entered Second Number is {b} it is Even")
else:
    print(f"Entered Second Number is {b} it is odd")

 37
 45.9

Entered Numbers are:37,45.9
Entered First Number is 37 it is odd
Entered Second Number is 45.9 it is odd

```
Input:
    Enter a number: 4
    Enter x value: 12
    Enter y value: 2
    Enter z value: 1
Output:
    Entered number 4 is Even
    Entered numbers are: 12,2,1
Input:
    Enter a number: 1
    Enter your name: Rajesh
Output:
    Entered number 1 is Odd
    Entered name is: Rajesh
```

In [10]:
a=int(input("enter a number :"))
if a%2==0:
    x=int(input("enter x value : "))
    y=int(input("enter y value : "))
    z=int(input("enter z value : "))
    print(f"entered number {a} is even")
    print(f"entered numbers are : {x},{y},{z}")
else:
    h=input("enter your name :")
    print(f"entered numbers {a} is odd")
    print(f"entered name is :{h}")

enter a number : 4
enter x value :  12
enter y value :  1
enter z value :  11

entered number 4 is even
entered numbers are : 12,1,11

In [18]:
n = int(input("Enter a number: "))
if ((n%2==0) and (n%3==0)):
    print("Divisible by 2 and 3")
elif n%5==0:
    print("Divisible by 5") 
elif n%2==0:
    print("Even")
else:
    print("Odd")

Enter a number:  21

Odd

```
2
2 x 01 = 02
2 x 02 = 04
2 x 03 = 06
2 x 04 = 08
|    |    |
2 x 09 = 18
2 x 10 = 20
```

In [22]:
n = int(input())
for j in range(1,11):
    if j<10:
        if (n*j)<10:
            print(f"{n} x 0{j} = 0{n*j}")
        else:
            print(f"{n} x 0{j} = {n*j}")
    else:
        print(f"{n} x {j} = {n*j}")

 2

2 x 01 = 02
2 x 02 = 04
2 x 03 = 06
2 x 04 = 08
2 x 05 = 10
2 x 06 = 12
2 x 07 = 14
2 x 08 = 16
2 x 09 = 18
2 x 10 = 20

In [25]:
n = int(input())
for j in range(1,11):
    if j<10 and (n*j)<10:
        print(f"{n} x 0{j} = 0{n*j}")
    elif j<10:
        print(f"{n} x 0{j} = {n*j}")
    else:
        print(f"{n} x {j} = {n*j}")

 2

2 x 01 = 02
2 x 02 = 04
2 x 03 = 06
2 x 04 = 08
2 x 05 = 10
2 x 06 = 12
2 x 07 = 14
2 x 08 = 16
2 x 09 = 18
2 x 10 = 20

In [33]:
n = int(input())
for j in range(1,11):
    print(f"{n} x {j:02d} = {n*j:02d}")

 2

2 x 01 = 02
2 x 02 = 04
2 x 03 = 06
2 x 04 = 08
2 x 05 = 10
2 x 06 = 12
2 x 07 = 14
2 x 08 = 16
2 x 09 = 18
2 x 10 = 20

In [41]:
n = int(input("Enter a start range: "))
m = int(input("Enter an end range: "))
for i in range(n,m):
    print(i,end=" ")

Enter a start range:  2
Enter an end range:  8

2 3 4 5 6 7

In [36]:
k = input()
print(k,type(k))
type(k)

 23

23 <class 'str'>

str

```
Input:
    5
    20
Output:
    23F41A0505
    23F41A0506
    23F41A0507
    |        |
    23F41A0520
```

In [46]:
n = int(input())
m = int(input())
for i in range(n,m+1):
    print(f"23F41A05{i:02d} 22F41A05{i:02d}")

 5
 15

23F41A0505 22F41A0505
23F41A0506 22F41A0506
23F41A0507 22F41A0507
23F41A0508 22F41A0508
23F41A0509 22F41A0509
23F41A0510 22F41A0510
23F41A0511 22F41A0511
23F41A0512 22F41A0512
23F41A0513 22F41A0513
23F41A0514 22F41A0514
23F41A0515 22F41A0515

In [47]:
p = int(input())
for i in range(p):
    print(i,end=" ")

 5

0 1 2 3 4

In [49]:
p = int(input())
for i in range(p):
    print(p-i-1,end=" ")

 5

4 3 2 1 0

In [53]:
n = int(input())
m = int(input())
for i in range(n,m+1):
    print(f"23F41A05{n+m-i:02d} 22F41A05{i:02d}")

 5
 10

23F41A0510 22F41A0505
23F41A0509 22F41A0506
23F41A0508 22F41A0507
23F41A0507 22F41A0508
23F41A0506 22F41A0509
23F41A0505 22F41A0510

In [56]:
p = 0
n = int(input())
while p!=n:
    print(p,end=" ")
    p+=1

 10

0 1 2 3 4 5 6 7 8 9

In [59]:
p = 0
n = int(input())
while p!=n:
    n-=1
    print(n,end=" ")

 5

4 3 2 1 0

```
k = int(input())
while k>=10:
    print(k,end=" ")
    k += 1
```

In [2]:
while True:
    print("1.Addition of 2 numbers\n2.Expression\n3.Check Even\n4.Exit\n")
    k = int(input("Enter Your choice:  "))
    if k == 1:
        n = int(input("Enter First value: "))
        m = int(input("Enter Second value: "))
        print(f"Addition of {n} and {m} is: {n+m}")
    elif k == 2:
        x = int(input("Enter x value: "))
        print(f"cube of {x} is: {x**3}")
    elif k == 4:
        print("Thanks for choosing these option")
        break
    elif k == 3:
        s = int(input("Enter a value: "))
        if s%2==0:
            print(f"{s} is Even")
        else:
            print(f"{s} is Odd")
    else:
        print("Enter valid option. Try again")

1.Addition of 2 numbers
2.Expression
3.Check Even
4.Exit

Enter Your choice:   2
Enter x value:  5

cube of 5 is: 125
1.Addition of 2 numbers
2.Expression
3.Check Even
4.Exit

Enter Your choice:   3
Enter a value:  4

4 is Even
1.Addition of 2 numbers
2.Expression
3.Check Even
4.Exit

Enter Your choice:   1
Enter First value:  4
Enter Second value:  6

Addition of 4 and 6 is: 10
1.Addition of 2 numbers
2.Expression
3.Check Even
4.Exit

Enter Your choice:   5

Enter valid option. Try again
1.Addition of 2 numbers
2.Expression
3.Check Even
4.Exit

Enter Your choice:   4

Thanks for choosing these option

In [5]:
n = int(input("Enter a size: "))
for i in range(n):
    for j in range(n):
        print(j,end=" ")
    print()

Enter a size:  5

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [9]:
z = 1
for i in range(5):
    for j in range(7):
        if z>=32:
            break
        else:
            print(f"{z:02d}",end=" ")
        z+=1
    print()

01 02 03 04 05 06 07
08 09 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [10]:
k = {}
d = {45}
print(k,type(k))
print(d,type(d))

{} <class 'dict'>
{45} <class 'set'>

In [11]:
m = list()
print(m,type(m))

[] <class 'list'>

In [12]:
f = tuple()
print(f,type(f))

() <class 'tuple'>

In [ ]:
{("name":["Rajesh","Suresh"]),"age":45}

In [13]:
y = [45,89.154,True,2+5j,45,"Tarun"]
print(y)
print(y[:])
print(y[::])

[45, 89.154, True, (2+5j), 45, 'Tarun']
[45, 89.154, True, (2+5j), 45, 'Tarun']
[45, 89.154, True, (2+5j), 45, 'Tarun']

In [14]:
for i in y:
    print(i,end=" ")

45 89.154 True (2+5j) 45 Tarun

In [15]:
for i in range(len(y)):
    print(y[i],end=" ")

45 89.154 True (2+5j) 45 Tarun