In [1]:
import keyword

In [3]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [4]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [7]:
print(int.numerator.__doc__)

the numerator of a rational number in lowest terms

In [10]:
print(help(int))

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

None

In [12]:
help(int.numerator)

Help on getset descriptor builtins.int.numerator:

numerator
    the numerator of a rational number in lowest terms

In [13]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [17]:
print(dir(keyword.kwlist))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [19]:
import keyword

In [22]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [23]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [24]:
print(list.append.__doc__)

Append object to the end of the list.

In [27]:
k = [1,45.021,"Tarun",4+5j,1,1,1,"56.00",False]
print(k,type(k))

[1, 45.021, 'Tarun', (4+5j), 1, 1, 1, '56.00', False] <class 'list'>

In [28]:
for i in k:
    print(i,type(i))

1 <class 'int'>
45.021 <class 'float'>
Tarun <class 'str'>
(4+5j) <class 'complex'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
56.00 <class 'str'>
False <class 'bool'>

In [31]:
for i in range(len(k)):
    print(f"{i} => {type(i)},{k[i]} => {type(k[i])}")

0 => <class 'int'>,1 => <class 'int'>
1 => <class 'int'>,45.021 => <class 'float'>
2 => <class 'int'>,Tarun => <class 'str'>
3 => <class 'int'>,(4+5j) => <class 'complex'>
4 => <class 'int'>,1 => <class 'int'>
5 => <class 'int'>,1 => <class 'int'>
6 => <class 'int'>,1 => <class 'int'>
7 => <class 'int'>,56.00 => <class 'str'>
8 => <class 'int'>,False => <class 'bool'>

In [32]:
a,b = [],list()
print(a,type(a))
print(b,type(b))

[] <class 'list'>
[] <class 'list'>

In [33]:
n = [45]
print(n)
n.append(20)
print(n)

[45]
[45, 20]

In [34]:
print(n)
n.append(56,36)
print(n)

[45, 20]

TypeError: list.append() takes exactly one argument (2 given)

In [35]:
print(n)
n.append([12,89,23.011])
print(n)

[45, 20]
[45, 20, [12, 89, 23.011]]

In [36]:
print(n)
n.append("Somu")
print(n)

[45, 20, [12, 89, 23.011]]
[45, 20, [12, 89, 23.011], 'Somu']

In [37]:
m = ["suresh"]
print(m)
m.extend(56)
print(m)

['suresh']

TypeError: 'int' object is not iterable

In [38]:
print(m)
m.extend("Tilak")
print(m)

['suresh']
['suresh', 'T', 'i', 'l', 'a', 'k']

In [39]:
print(m)
m.extend([45,23,89.015,False])
print(m)

['suresh', 'T', 'i', 'l', 'a', 'k']
['suresh', 'T', 'i', 'l', 'a', 'k', 45, 23, 89.015, False]

In [40]:
p = []
print(p)
p.insert(89)
print(p)

[]

TypeError: insert expected 2 arguments, got 1

In [41]:
print(p)
p.insert(0,"Ramu")
print(p)

[]
['Ramu']

In [42]:
print(p)
p.insert(2,45)
print(p)

['Ramu']
['Ramu', 45]

In [43]:
s = [2,45,6,7,90.154]
print(s)
print(s.count(45))
print(s)

[2, 45, 6, 7, 90.154]
1
[2, 45, 6, 7, 90.154]

In [44]:
print(s)
print(s.count(-89))
print(s)

[2, 45, 6, 7, 90.154]
0
[2, 45, 6, 7, 90.154]

In [45]:
y = [23,12.021,"Rajesh",78]
print(y)
y.pop()
print(y)

[23, 12.021, 'Rajesh', 78]
[23, 12.021, 'Rajesh']

In [46]:
print(y)
y.pop(23)
print(y)

[23, 12.021, 'Rajesh']

IndexError: pop index out of range

In [47]:
print(y)
y.pop(0)
print(y)

[23, 12.021, 'Rajesh']
[12.021, 'Rajesh']

In [48]:
t = [45,89,23.0212,89,56.0151]
print(t)
t.remove()
print(t)

[45, 89, 23.0212, 89, 56.0151]

TypeError: list.remove() takes exactly one argument (0 given)

In [49]:
t = [45,89,23.0212,89,56.0151]
print(t)
t.remove(89)
print(t)

[45, 89, 23.0212, 89, 56.0151]
[45, 23.0212, 89, 56.0151]

In [50]:
b = [2,45,1,676,90]
print(b)
b.sort()
print(b)

[2, 45, 1, 676, 90]
[1, 2, 45, 90, 676]

In [1]:
a = [12,89,3,45,5]
print(a)
a.sort(reverse=True)
print(a)

[12, 89, 3, 45, 5]
[89, 45, 12, 5, 3]

In [2]:
z = [34,67,34,56,8,90,23]
print(z)
z.reverse()
print(z)

[34, 67, 34, 56, 8, 90, 23]
[23, 90, 8, 56, 34, 67, 34]

In [3]:
print(z)
z.clear()
print(z)

[23, 90, 8, 56, 34, 67, 34]
[]

In [4]:
r = [45,67,"db","4564.021"]
print(r)
del r
print(r)

[45, 67, 'db', '4564.021']

NameError: name 'r' is not defined

In [5]:
d = [34,45.05,"Uma"]
print(d)
f = d.copy()
print(d)
print(f)

[34, 45.05, 'Uma']
[34, 45.05, 'Uma']
[34, 45.05, 'Uma']

In [6]:
print(d)
d.pop()
print(d)
print(f)

[34, 45.05, 'Uma']
[34, 45.05]
[34, 45.05, 'Uma']

In [8]:
print(f)
f.remove(34)
print(f)
print(d)

[34, 45.05, 'Uma']
[45.05, 'Uma']
[34, 45.05]

In [10]:
e = [56,89,908,56,4,56,78]
print(e)
print(e.index())
print(e)

[56, 89, 908, 56, 4, 56, 78]

TypeError: index expected at least 1 argument, got 0

In [11]:
e = [56,89,908,56,4,56,78]
print(e)
print(e.index(56))
print(e)

[56, 89, 908, 56, 4, 56, 78]
0
[56, 89, 908, 56, 4, 56, 78]

In [12]:
print(e)
print(e.index(-100))
print(e)

[56, 89, 908, 56, 4, 56, 78]

ValueError: -100 is not in list

In [9]:
c = [12,56.0212,False,12+5j,"Ganesh",12,56,78,78]
print(c)
print(c[:])
print(c[::])

[12, 56.0212, False, (12+5j), 'Ganesh', 12, 56, 78, 78]
[12, 56.0212, False, (12+5j), 'Ganesh', 12, 56, 78, 78]
[12, 56.0212, False, (12+5j), 'Ganesh', 12, 56, 78, 78]

In [16]:
print(c)
print(c[2])
print(c[5])
# print(c[23])
print(c[-1])

[12, 56.0212, False, (12+5j), 'Ganesh', 12, 56, 78, 78]
False
12
78

In [33]:
print(c)
print(c[:5])
print(c[:-3])
print(c[:-6])
print(c[2:])
print(c[-4:])
print(c[2:6])
print(c[3:-4])
print(c[2:-6])
print(c[-5:-2])

[12, 56.0212, False, (12+5j), 'Ganesh', 12, 56, 78, 78]
[12, 56.0212, False, (12+5j), 'Ganesh']
[12, 56.0212, False, (12+5j), 'Ganesh', 12]
[12, 56.0212, False]
[False, (12+5j), 'Ganesh', 12, 56, 78, 78]
[12, 56, 78, 78]
[False, (12+5j), 'Ganesh', 12]
[(12+5j), 'Ganesh']
[False]
['Ganesh', 12, 56]

In [54]:
print(c[::])
print(c[2::])
print(c[:5:])
print(c[::3])
print(c[-3::])
print(c[:-5:])
print(c[::-1])
print(c[3:7:])
print(c[-3:8:])
print(c[2:7:3])
print(c[2:-6:2])
print(c[6:-4:-3])
print(c[-6:5:2])
print(c[-2:-6:-1])

[12, 56.0212, False, (12+5j), 'Ganesh', 12, 56, 78, 78]
[False, (12+5j), 'Ganesh', 12, 56, 78, 78]
[12, 56.0212, False, (12+5j), 'Ganesh']
[12, (12+5j), 56]
[56, 78, 78]
[12, 56.0212, False, (12+5j)]
[78, 78, 56, 12, 'Ganesh', (12+5j), False, 56.0212, 12]
[(12+5j), 'Ganesh', 12, 56]
[56, 78]
[False, 12]
[False]
[56]
[(12+5j)]
[78, 56, 12, 'Ganesh']

In [55]:
g = (34,6)
print(g,type(g))

(34, 6) <class 'tuple'>

In [56]:
e,k = (),tuple()
print(e,type(e))
print(k,type(k))

() <class 'tuple'>
() <class 'tuple'>

In [57]:
w = (45,56.0212,"Lalitha",True,89+45j,45,3,3,3)
print(w)
print(w[:])
print(w[::])

(45, 56.0212, 'Lalitha', True, (89+45j), 45, 3, 3, 3)
(45, 56.0212, 'Lalitha', True, (89+45j), 45, 3, 3, 3)
(45, 56.0212, 'Lalitha', True, (89+45j), 45, 3, 3, 3)

In [60]:
for i in range(len(w)):
    print(f"{i} => {type(i)}, {w[i]} => {type(w[i])}")

0 => <class 'int'>, 45 => <class 'int'>
1 => <class 'int'>, 56.0212 => <class 'float'>
2 => <class 'int'>, Lalitha => <class 'str'>
3 => <class 'int'>, True => <class 'bool'>
4 => <class 'int'>, (89+45j) => <class 'complex'>
5 => <class 'int'>, 45 => <class 'int'>
6 => <class 'int'>, 3 => <class 'int'>
7 => <class 'int'>, 3 => <class 'int'>
8 => <class 'int'>, 3 => <class 'int'>

In [61]:
for j in w:
    print(j,type(j))

45 <class 'int'>
56.0212 <class 'float'>
Lalitha <class 'str'>
True <class 'bool'>
(89+45j) <class 'complex'>
45 <class 'int'>
3 <class 'int'>
3 <class 'int'>
3 <class 'int'>

In [64]:
print(w)
print(w[3])
print(w[2:7])
print(w[2:6:1])

(45, 56.0212, 'Lalitha', True, (89+45j), 45, 3, 3, 3)
True
('Lalitha', True, (89+45j), 45, 3)
('Lalitha', True, (89+45j), 45)

In [65]:
print(tuple.__doc__)

Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [66]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [67]:
a = (45,4,4,45,69,23.0212)
print(a)
print(a.count(4))
print(a.count(-56))
print(a.index(69))
print(a.index(-45))

(45, 4, 4, 45, 69, 23.0212)
2
0
4

ValueError: tuple.index(x): x not in tuple

In [69]:
z,n = {1},set()
print(z,type(z))
print(n,type(n))

{1} <class 'set'>
set() <class 'set'>

In [72]:
w = {1,56.021,False,"Charan",1,1,6+9j,0.12,0.01,"0.157"}
print(w)

{False, 1, (6+9j), '0.157', 0.12, 'Charan', 0.01, 56.021}

In [73]:
w

{(6+9j), 0.01, 0.12, '0.157', 1, 56.021, 'Charan', False}

In [74]:
for i in w:
    print(i,type(i))

False <class 'bool'>
1 <class 'int'>
(6+9j) <class 'complex'>
0.157 <class 'str'>
0.12 <class 'float'>
Charan <class 'str'>
0.01 <class 'float'>
56.021 <class 'float'>

In [75]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [76]:
d = {4}
print(d)
d.add(67)
print(d)

{4}
{67, 4}

In [77]:
print(d)
d.add(True,"90")
print(d)

{67, 4}

TypeError: set.add() takes exactly one argument (2 given)

In [78]:
print(d)
d.add([3,56,6,7])
print(d)

{67, 4}

TypeError: unhashable type: 'list'

In [79]:
print(d)
d.add("Ramesh Kumar")
print(d)

{67, 4}
{'Ramesh Kumar', 67, 4}

In [80]:
print(d)
d.add(("Ramesh Kumar",45,7,89))
print(d)

{'Ramesh Kumar', 67, 4}
{'Ramesh Kumar', ('Ramesh Kumar', 45, 7, 89), 67, 4}

In [81]:
e = {45,7,8,934,'45.0212'}
print(e)
e.pop()
print(e)

{'45.0212', 934, 7, 8, 45}
{934, 7, 8, 45}

In [82]:
print(e)
e.pop(8)
print(e)

{934, 7, 8, 45}

TypeError: set.pop() takes no arguments (1 given)

In [83]:
x = {4,67,23,89.120,"Eswar",False}
print(x)
x.remove()
print(x)

{False, 'Eswar', 67, 4, 23, 89.12}

TypeError: set.remove() takes exactly one argument (0 given)

In [84]:
print(x)
x.remove(4)
print(x)

{False, 'Eswar', 67, 4, 23, 89.12}
{False, 'Eswar', 67, 23, 89.12}

In [86]:
a = {34,67,38,2,6,89}
b = {67,6,890,90}
print(a)
print(b)
print(a.union(b))
print(a)
print(b)

{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}
{2, 67, 34, 90, 38, 6, 89, 890}
{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}

In [87]:
print(a)
print(b)
print(a.intersection(b))
print(a)
print(b)

{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}
{67, 6}
{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}

In [88]:
print(a)
print(b)
print(a.difference(b))
print(a)
print(b)

{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}
{89, 2, 34, 38}
{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}

In [89]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(a)
print(b)

{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}
{2, 34, 90, 38, 89, 890}
{2, 67, 34, 38, 6, 89}
{890, 67, 90, 6}

In [92]:
print(a)
a.discard(34)
print(a)

{2, 67, 34, 38, 6, 89}
{2, 67, 38, 6, 89}

In [93]:
s1 = {45,67,7,8,90}
s2 = {45,7,89,78}
print(s1)
print(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{67, 7, 8, 90, 45}
{89, 45, 78, 7}
{45, 7}
{89, 45, 78, 7}

In [94]:
n = {5,67,8,90}
m = {5,8,900,677}
print(n)
print(m)
n.difference_update(m)
print(n)
print(m)

{8, 90, 67, 5}
{8, 900, 5, 677}
{67, 90}
{8, 900, 5, 677}

In [95]:
t = {56,89,70,4}
h = {4,70,23,1}
print(t)
print(h)
t.symmetric_difference_update(h)
print(t)
print(h)

{56, 89, 4, 70}
{1, 4, 70, 23}
{1, 23, 56, 89}
{1, 4, 70, 23}

In [96]:
g = {78,99,6}
print(g)
g.update(5)
print(g)

{99, 78, 6}

TypeError: 'int' object is not iterable

In [97]:
print(g)
g.update({4,7,8,34})
print(g)

{99, 78, 6}
{34, 99, 4, 6, 7, 8, 78}

In [98]:
print(g)
g.update([43,67,2,56])
print(g)

{34, 99, 4, 6, 7, 8, 78}
{2, 67, 4, 6, 7, 8, 78, 34, 99, 43, 56}

In [99]:
w = {}
c = dict()
print(w,type(w))
print(c,type(c))

{} <class 'dict'>
{} <class 'dict'>

In [100]:
z = {"name":"Ramu","age":45,"gender":"Male"}
print(z)

{'name': 'Ramu', 'age': 45, 'gender': 'Male'}

In [102]:
for i in range(len(z)):
    print(z[i],type(z[i]))

KeyError: 0

In [105]:
for j in z:
    print(f"{j} => {type(j)}, {z[j]} => {type(z[j])}")

name => <class 'str'>, Ramu => <class 'str'>
age => <class 'str'>, 45 => <class 'int'>
gender => <class 'str'>, Male => <class 'str'>

In [108]:
for i,j in z:
    print(j)

ValueError: too many values to unpack (expected 2)

In [109]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [111]:
w = {"name":"Prasanna","branch":"CSE","Year":"2"}
print(w)
print(w.keys())
print(w.values())
print(w.items())

{'name': 'Prasanna', 'branch': 'CSE', 'Year': '2'}
dict_keys(['name', 'branch', 'Year'])
dict_values(['Prasanna', 'CSE', '2'])
dict_items([('name', 'Prasanna'), ('branch', 'CSE'), ('Year', '2')])

In [112]:
for i in w.items():
    print(i,type(i))

('name', 'Prasanna') <class 'tuple'>
('branch', 'CSE') <class 'tuple'>
('Year', '2') <class 'tuple'>

In [113]:
for i,j in w.items():
    print(i,j,type(i),type(j))

name Prasanna <class 'str'> <class 'str'>
branch CSE <class 'str'> <class 'str'>
Year 2 <class 'str'> <class 'str'>

In [114]:
print(w)
print(w['Year'])
print(w.get('branch'))

{'name': 'Prasanna', 'branch': 'CSE', 'Year': '2'}
2
CSE

In [115]:
print(w)
w.pop()
print(w)

{'name': 'Prasanna', 'branch': 'CSE', 'Year': '2'}

TypeError: pop expected at least 1 argument, got 0

In [116]:
print(w)
w.pop('branch')
print(w)

{'name': 'Prasanna', 'branch': 'CSE', 'Year': '2'}
{'name': 'Prasanna', 'Year': '2'}

In [117]:
print(w)
w.pop('gender')
print(w)

{'name': 'Prasanna', 'Year': '2'}

KeyError: 'gender'

In [118]:
print(w)
w.popitem()
print(w)

{'name': 'Prasanna', 'Year': '2'}
{'name': 'Prasanna'}

In [119]:
print(w)
w['college'] = "KEC"
print(w)

{'name': 'Prasanna'}
{'name': 'Prasanna', 'college': 'KEC'}

In [120]:
print(w)
w.popitem('name')
print(w)

{'name': 'Prasanna', 'college': 'KEC'}

TypeError: dict.popitem() takes no arguments (1 given)

In [121]:
print(w)
w.setdefault('marks')
print(w)

{'name': 'Prasanna', 'college': 'KEC'}
{'name': 'Prasanna', 'college': 'KEC', 'marks': None}

In [122]:
print(w)
w.update({'marks':80})
print(w)

{'name': 'Prasanna', 'college': 'KEC', 'marks': None}
{'name': 'Prasanna', 'college': 'KEC', 'marks': 80}

In [123]:
print(w)
w['marks'] = 95
print(w)

{'name': 'Prasanna', 'college': 'KEC', 'marks': 80}
{'name': 'Prasanna', 'college': 'KEC', 'marks': 95}

In [132]:
a = ["a","b"]
c = "raju"
z = dict.fromkeys(a,c)
print(z)

{'a': 'raju', 'b': 'raju'}

In [133]:
r = "ramesh is good at teaching"
print(r,type(r))

ramesh is good at teaching <class 'str'>

In [134]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [136]:
k = "tilak is at KEC college"
print(k)
print(k.capitalize())
print(k.casefold())
print(k.title())
print(k.swapcase())
print(k.upper())
print(k.lower())

tilak is at KEC college
Tilak is at kec college
tilak is at kec college
Tilak Is At Kec College
TILAK IS AT kec COLLEGE
TILAK IS AT KEC COLLEGE
tilak is at kec college

In [138]:
h = "Sample example    "
k = "   Testing with some example "
print(h.strip())
print(k.strip())
print(h.rstrip())
print(k.lstrip())
print(h.zfill(30))
print(k.zfill(30))

Sample example
Testing with some example
Sample example
Testing with some example
000000000000Sample example
0   Testing with some example

In [139]:
b = "Demo Page   "
n = "   First Example  "
print(b.ljust(25))
print(n.rjust(30))

Demo Page
               First Example

In [140]:
print("Name".ljust(15)+"|"+"Age".rjust(8)+"|")

Name           |     Age|

In [142]:
d = "Demo Page here "
print(d.split())
print(d.splitlines())
print(d.split("e"))

['Demo', 'Page', 'here']
['Demo Page here ']
['D', 'mo Pag', ' h', 'r', ' ']

In [145]:
# 12 56 89
# 2,5,8,96,3
g = input().split(",")
n = []
print(g,type(g))
for i in g:
    n.append(int(i))
print(n)

 2,5,8,96,3

['2', '5', '8', '96', '3'] <class 'list'>
[2, 5, 8, 96, 3]

In [149]:
v = " example for python data structures"
print(v.index('e'))
print(v.rindex('e'))

1
33

In [150]:
print(v.index('z'))

ValueError: substring not found

In [151]:
print(v.rindex('z'))

ValueError: substring not found

In [153]:
print(v.find('e'))
print(v.rfind('e'))

1
33

In [154]:
print(v.find('z'))

-1

In [155]:
print(v.rfind('z'))

-1

In [157]:
d = "ramesh is at home   "
print(d.center(25))

   ramesh is at home

In [168]:
d = ["Ramesh", "is", "at", "college"]
f = "-".join(d)
print(f)
g = f.split("-")
print(g)

Ramesh-is-at-college
['Ramesh', 'is', 'at', 'college']

In [175]:
def ev(d):
    r = []
    for j in d:
        if j%2==0:
            r.append(j)
    return r

h = input().split()
z = []
for i in h:
    z.append(int(i))
print("Even numbers in a list is: ",end=" ")
for k in ev(z):
    print(k,end=" ")

 45 6 8 7 20 45

Even numbers in a list is:  6 8 20

In [177]:
def employee(na,ed,cmp="Wipro"):
    print(f"Company Name: {cmp}")
    print(f"Entered Employee Id is: {ed}")
    print(f"Entered Name is: {na}")
    return

n = input("Enter employee name: ")
k = input("Enter employee Id: ")
employee(n,k)

Enter employee name:  tarun
Enter employee Id:  RT67

Company Name: Wipro
Entered Employee Id is: RT67
Entered Name is: tarun

In [178]:
def employee(na,ed="SD34",cmp):
    print(f"Company Name: {cmp}")
    print(f"Entered Employee Id is: {ed}")
    print(f"Entered Name is: {na}")
    return

n = input("Enter employee name: ")
k = input("Enter employee Id: ")
employee(n,k)

SyntaxError: non-default argument follows default argument (3971116864.py, line 1)

In [179]:
def employee(na,ed="SD34",cmp="EY"):
    print(f"Company Name: {cmp}")
    print(f"Entered Employee Id is: {ed}")
    print(f"Entered Name is: {na}")
    return

n = input("Enter employee name: ")
k = input("Enter employee Id: ")
employee(n,k)

Enter employee name:  jagadeesh
Enter employee Id:  TY34

Company Name: EY
Entered Employee Id is: TY34
Entered Name is: jagadeesh

In [180]:
def employee(na,ed="SD34",cmp="EY"):
    print(f"Company Name: {cmp}")
    print(f"Entered Employee Id is: {ed}")
    print(f"Entered Name is: {na}")
    return

n = input("Enter employee name: ")
employee(n)

Enter employee name:  Kishore

Company Name: EY
Entered Employee Id is: SD34
Entered Name is: Kishore

In [181]:
def student(n,a):
    print(f"Entered name is: {n}")
    print(f"Entered age is: {a}")
    return

student("Naresh",25)

Entered name is: Naresh
Entered age is: 25

In [182]:
def student(n,a):
    print(f"Entered name is: {n}")
    print(f"Entered age is: {a}")
    return

student("Naresh",25,"Male")

TypeError: student() takes 2 positional arguments but 3 were given

In [183]:
def student(n,a,g,c):
    print(f"Entered name is: {n}")
    print(f"Entered age is: {a}")
    print(f"Entered gender is: {g}")
    print(f"Entered section is: {c}")
    return

student("Naresh",25,"Male")

TypeError: student() missing 1 required positional argument: 'c'

In [186]:
def emp(b,a,c):
    print(f"Entered name is: {a}")
    print(f"Entered age is: {b}")
    print(f"Entered gender is: {c}")
    return

emp(a="prasad",c="M",b=12)

Entered name is: prasad
Entered age is: 12
Entered gender is: M

In [189]:
def dm(n,*y,**s):
    print(n,type(n))
    print(y,type(y))
    print(s,type(s))
    return

dm(12,"raju",45.01,"Prasad",name="Dinesh",age=15)

12 <class 'int'>
('raju', 45.01, 'Prasad') <class 'tuple'>
{'name': 'Dinesh', 'age': 15} <class 'dict'>

In [190]:
def dm(n,*y,**s):
    print(n,type(n))
    print(y,type(y))
    print(s,type(s))
    return

dm(12,"raju",45.01,gender="m","Prasad",name="Dinesh",age=15)

SyntaxError: positional argument follows keyword argument (4092037990.py, line 7)

In [192]:
def dm(n,*y):
    print(n,type(n))
    print(y,type(y))
    return

dm(12,"raju",45.01,"Prasad",name="Dinesh",age=15)

TypeError: dm() got an unexpected keyword argument 'name'